@model DealDazzle.Business.Domain.UserModule.DTO.UserCreatedDTO

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

}

<h4>Register</h4>
<hr />


<!--================Register Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Already a member?</h4>
                        <p>You have something to sell? Join our marketplace and sell your goods</p>
                        <a class="primary-btn" asp-action="Login">Login to your Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Create an account</h3>
                    <form class="row login_form" asp-action="Register" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input asp-for="FullName" class="form-control" placeholder="Full Name" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Phone" class="form-control" placeholder="Phone"/>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group hover">
                            <input type="submit" value="Register" class="primary-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Register Login Box Area =================-->
